[include]
  path = ~/.gitconfig.local
[include]
  path = ~/.gitconfig.themes
[core]
  excludesfile = ~/.gitignore_global
  ignorecase = false
  editor = nvim
[alias]
  st = status
  cm = checkout main
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  undo = reset --soft HEAD^
	np = !git --no-pager
[ghq]
  root = ~/ghq
[merge]
  conflictstyle = diff3
[pull]
  rebase = true
[init]
  defaultBranch = main
[credential]
  helper = cache --timeout=3600
[user]
	name = sh05
	email = shogonakamoto0107@gmail.com
	helper = store
