*.log
*.pem
*.swp
.chef/
.tmux/plugins/
.zsh/Completion/_*
.zsh/history/
anyenv/
aqua/private/
autoload/
automatic_backups/
cheat/cheatsheets
coc/
configstore/
direnv/
gcloud/
gh/
github-copilot/
helm/
htop/
iterm2/
node_modules/
nvim/.luarc.json
nvim/lazy-lock.json
nvim/plugin/packer_compiled.lua
nvim/sessions
op/
waypoint/
yarn/
